/*
red color code: #c62525
#f0eded
*/
body{
    background-color: black;
    color: #f0eded;
    padding: 0%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    background-color:#c62525;
    color: white;
    width: 100%;
    padding: 0px;
    position: fixed;
    z-index: 1000;
}


#logo{
    color: white;
    font-weight: bold;
    font-size: xx-large;
    margin-top: auto; 
    margin-bottom: auto;
    margin-left: 7%;
    padding: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-menu{
    display: flex;
    margin-top:auto;
    margin-bottom: auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px;
}


.pagecontent{
    height: auto;
    height: auto;
    border: 2px solid transparent;
    justify-content: center;
    text-align: justify;
}

.page{
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 5%;
    justify-content: center;
}




#leftsection{
    width: 50%;
    text-align: justify;
    margin: 2%;
}

#rightsection{
    width: 50%; 
    margin: 2%;
}

.social{
    color: #c62525;
    background-color: balck;
    height: 40px;
    width: 40px;
}

.table{
    display: flex;
    color: white;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    align-content: center;
    text-align: center;
}

th{
    background-color: white;
    color: black;
    height: 50px;
    width: 200px;
}


td{
    /* width: 200px; */
    height: 50px;
    text-align: center;
}


.hr{
    /* display: flex; */
    height:auto;
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
    color:white;
    background-color:#c62525;
    font-weight: bolder;
    font-size: xx-large;

}

form{
    height: auto;
    width: 400px;
    color: #c62525;
    margin: auto;
    justify-content: center;
}

button{
    margin: auto;
}

.input{
    background-color: grey;
    height: 40px;
    border: 2px solid #c62525;
    margin: 20px;
    background-color: #f2ecec;
    width: 100%;
    text-align: center;
}

#submit{
    background-color: #c62525;
    height: 40px;
    width: 90px;
    align-items: center;
    border: 2px solid #c62525;
    border-radius: 2px;
    font-weight: bold;
}


#footer{
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    background-color: #c62525;
    height: auto;

}


@media screen and (max-width: 800px) {
    body {
      background-color: white;
      color: black;
    }

    #leftsection{
        width: 100%;
        text-align: justify;
        margin: 2%;
    }

    #rightcontent{
        width: 100%;
    }

    .page{
        display: block;
        position: relative;
    }

    .table{
        display: flex;
        color: white;
        background-color: black;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 5%;
        align-content: center;
        text-align: center;
    }
  }
  
  /* @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  } */

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
